<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <connectionStrings>
    <add name ="mongodb" connectionString="mongodb://localhost/Game?safe=true;maxPoolSize=100;minPoolSize=0"/>
  </connectionStrings>
  <!--  IndependantFile | Console-->
  <socketServer disablePerformanceDataCollector="false" loggingMode="IndependantFile" maxWorkingThreads="500" maxCompletionPortThreads="100" >
    <servers>
      <server name="FlashPolicyServer"
               serviceName="FlashPolicyService"
               ip="Any" port="843"
               mode="Async"
               receiveBufferSize="32"
               maxConnectionNumber="100"
               policyFile="crossdomain.xml"
               clearIdleSession="true">
      </server>
      <server name="hydGameServer"
              serviceName="hydGameService"
              ip="Any" port="1808"
              mode="Async"
              maxConnectionNumber="10000">
      </server>
    </servers>
    <services>
      <service name="FlashPolicyService" type="SuperSocket.Facility.PolicyServer.FlashPolicyServer, SuperSocket.Facility" />
      <service name="hydGameService" type="Action.Engine.GameServer, Action.Engine" />
    </services>
  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
