@{
    ViewBag.Title = "主页";
}
@model BattleReport.Web.Models.WarModel
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { target = "_blank" }))
    {
        <div style="float: left">
            <h3>
                进攻方</h3>
            <ol>
                @for (int i = 0; i < Model.Attacker.Count; i++)
                {
                    <li style="float: left; margin: 0px 20px 0px 10px;">
                        @Html.TextBoxFor(m => m.Attacker[i], new { style = "width: 30px" })
                    </li>
                   if (i % 5 == 4)
                   {
                    <br />
                   }
                }
            </ol>
        </div>
        <div style="float: right">
            <h2>
                防守方</h2>
            <ol>
                @for (int i = 0; i < Model.Defender.Count; i++)
                {
                    <li style="float: left; margin: 0px 20px 0px 10px;">
                        @Html.TextBoxFor(m => m.Defender[i], new { style = "width: 30px" })
                    </li>
                   if (i % 5 == 4)
                   {
                    <br />
                   }
                }
            </ol>
        </div>
        <div style="clear: both">
            <input type="submit" value="开战" />
        </div>
    }
</div>
