<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <connectionStrings>
    <add name ="mongodb" connectionString="mongodb://localhost/Game?safe=true;maxPoolSize=100;minPoolSize=0"/>
  </connectionStrings>
  <!--  IndependantFile | Console-->
  <superSocket disablePerformanceDataCollector="false" maxWorkingThreads="500" maxCompletionPortThreads="100" >
    <servers>
      <server name="FlashPolicyServer"
               serverTypeName="FlashPolicyService"
               ip="Any" port="843"
               mode="Tcp"
               receiveBufferSize="32"
               maxConnectionNumber="100"
               policyFile="crossdomain.xml"
               clearIdleSession="true">
      </server>
      <server name="hydGameServer"
              serverTypeName="hydGameService"
              ip="Any" port="1808"
              mode="Tcp"
              maxConnectionNumber="10000">
      </server>
    </servers>
    <serverTypes>
      <add name="FlashPolicyService" type="SuperSocket.Facility.PolicyServer.FlashPolicyServer, SuperSocket.Facility" />
      <add name="hydGameService" type="Action.Engine.GameServer, Action.Engine" />
    </serverTypes>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
