<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IP" value="vps.yuuhhe.com"/>
    <add key="Port" value="1808"/>
  </appSettings>
  <connectionStrings>
    <add name ="mongodb" connectionString="mongodb://vps.yuuhhe.com/?safe=true"/>
  </connectionStrings>
</configuration>