<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IP" value="169.254.126.133"/>
    <add key="Port" value="1808"/>
  </appSettings>
  <connectionStrings>
    <add name ="mongodb" connectionString="mongodb://169.254.126.133/?safe=true"/>
  </connectionStrings>
</configuration>